[submodule "osext"]
    path = src/github.com/katdianos/osext
    url = https://github.com/katdianos/osext

[submodule "go.uuid"]
    path = src/github.com/satori/go.uuid
    url = https://github.com/satori/go.uuid