<!DOCTYPE html>
{{define "main"}}
<html>
<head>
    <title>Edit Printers</title>
    {{template "cssIncludes"}}
    <link href="../static/css/manager.css" rel="stylesheet"/>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Robostorm Name Tag Auto
                Printing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/manager#printersTab">Back</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container main dataTableContainer">
    <form method="post" action="/manager/printersSubmit" enctype="multipart/form-data">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><label class="control-label">Name</label></th>
                <th><label class="control-label">Printing</label></th>
                <th><label class="control-label">Active</label></th>
                <th><label class="control-label">IP</label></th>
                <th><label class="control-label">Port</label></th>
                <th><label class="control-label">API-Key</label></th>
                <th><label class="control-label">Config File</label></th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $printer := .PrinterQueue.Queue}}
            <tr class="form-inline">
                <input name="" type="hidden" value="${printer.id}"/>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.Name" value="{{$printer.Name}}" class="form-control"
                           title="Name"/>
                </td>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.Printing" {{if $printer.Printing}}checked{{end}}
                           type="checkbox" title="Printing"/>
                </td>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.Active" {{if $printer.Active}}checked{{end}}
                           type="checkbox" title="Active"/>
                </td>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.Ip" value="{{$printer.Ip}}" class="form-control"
                           title="Ip"/>
                </td>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.Port" value="{{$printer.Port}}" class="form-control"
                           title="Port"/>
                </td>
                <td>
                    <input name="PrinterQueue.Queue.{{$index}}.ApiKey" value="{{$printer.ApiKey}}" class="form-control"
                           title="ApiKey"/>
                </td>
                <td>
                    <div class="input-group">
                        <input name="" value="{{$printer.ConfigFile}}" class="form-control" title="ConfigFile"
                               readonly/>
                        <input name="PrinterQueue.Queue.{{$index}}.ConfigFile" type="file" class="upload">
                    </div>
                </td>
                <td>
                    <input type="button" class="btn btn-danger delete" value="Delete"/>
                    <input type="hidden" name="Delete" value="false">
                </td>
            </tr>
            {{end}}
            <tr>
                <td colspan="8" class="text-center"><input id="addPrinter" type="button" class="btn btn-info"
                                                           value="Add Printer"/></td>
            </tr>
            <tr>
                <td colspan="8"><input type="submit" value="Save" class="btn btn-success"/></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
{{template "jsIncludes"}}
<script src="../static/js/editor.js"></script>
</body>
</html>
{{end}}